body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-root-container{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  gap: 100px;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 10; 
  top: 0;
  height: 64px;
}

.navbarContainer{
  width: 100%;
  grid-column: 2/11;
  height: 64px;
  padding: 0 64px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbarContainer .logo{
  margin-right: auto;
  margin-left:3.5%;
  margin-top:5px ;
}
.navbarContainer .logo img{
  margin-right: 50%;
  width: 123px;
  height: 23px;

}

.navbarContainer .buttonGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px; 
}

.loginButton {
  background-color: white;
  border: 1px solid #333333;
  border-radius: 8px;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: bold;
  color: #5B5B5B;
  cursor: pointer;
  position: relative;
  transition:  0.1s ease; 
}


.loginButton:hover::before {
  width: 120%;
  height: 120%;
  background-color: transparent;
}

.loginButton:hover {
  border: 1px solid #333333;
  padding: 10px 16px; 
}


.signupButton {
  background-color: #FA0050; 
  border: 1px solid #FA0050; 
  border-radius: 8px; 
  padding: 7px 13px;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF; 
  cursor: pointer;
  position: relative;
  transition:  0.1s ease;
}

.signupButton:hover::before {
  width: 120%;
  height: 120%;
  background-color: transparent;
}

.signupButton:hover {
  
  padding: 10px 16px; 
}

.buttonGroup .selector{
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.languageSelected{
  font-size: 0.875rem;
  font-weight: 600;
  color: #1A1A1A;
  margin: 0 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbarRightIcons{
  margin-top: 4px;
  flex: 0;
  margin-left: 16px;
}

.card-right-icon{
  min-width: 44px;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
}

.card-right-icons{
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.navbar-bcg{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

.navbar-bcgc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-bcg:hover {
  background-color: #f5f5f5; 
}

.right-bcg{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.right-bcgc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-bcg:hover {
  background-color: #f5f5f5; 
}

.main-container{
  
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: #f7f7f7;
  height: 608px;
  background-image: url('https://images.deliveryhero.io/image/foodpanda/homepage/refresh-hero-home-tr.png?width=1264'); /* Görselin yolu */
  background-size: contain; /* Görseli içinde tut */
  background-position: right center; /* Görseli sağa hizala */
  background-repeat: no-repeat; /* Tekrar etmeyi kapat */
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  padding: 0px 64px;
  margin: auto;
}

.main-content-container{
  margin-top: 20%;
  grid-column: 1/7;
  align-self: stretch;
  
}

.content-h1{
  color: #333333;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 24%;
}

.address-container{
  margin-top: 32px;
}

.location-form{
  display: flex;
  border-radius: 16px;
  margin-left: 24%;
  height: 80px;
  width: 85%;
  align-items: center;
  background-color: white;
  box-shadow: 0 .188rem 1.25rem rgba(0, 0, 0, .1);
}

.search-container{
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: white;
  flex-wrap: nowrap;
  width: 90%;
  border-radius: 8px;
  margin-left: 14px;
  border: 1px solid #DCDCDC;
  display: flex;
}

.input-box{
  appearance: none;
  background-color: white;
  border: 0;
  border-radius: 8px;
  color: #333333;
  display: block;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1em;
  padding: 12px 15px;
  position: relative;
  resize: none;
  transition: all .15s;
  width: 60%;
  z-index: 1;
} 

textarea:focus, input:focus{
  outline: none;
}

/* Floating Label Styles */
.search-container label {
  position: absolute;
  top: 57%;
  left: 16%;
  font-size: 0.75rem;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: all 0.2s ;
  z-index: 0;
  opacity: 0;
}

.input-box:focus + label,
.input-box:not(:placeholder-shown) + label {
  top: 57%;
  left: 16%;
  font-size: 0.75rem;
  color: #333333;
  opacity: 1;
  z-index: 1;
  background-color: white;
}

.discoverButton {
  background-color: #FA0050; 
  border: 1px solid #FA0050; 
  border-radius: 8px; 
  padding: 7px 13px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF; 
  cursor: pointer;
  position: relative;
  transition:  0.1s ease;
  margin-left: 3% ;
  height: 38px;
  margin-right: 3%;
}

.discoverButton:hover::before {
  width: 120%;
  height: 120%;
  background-color: transparent;
}

.discoverButton:hover {
  padding: 10px 16px; 
}

.find-location-container{
  margin-left: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  color: #333333;
  
}

.find-location-container:hover{
  color: #CD004E;
}

.target-icon{
  fill: #B7194B;
}

.find-location-label{
  font-size: 0.9rem;
  font-weight: 600;
  color: inherit;
  margin: 0 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.partner-content-root{
  margin-top: 6%;
}

.partner-container{
  
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: #f7f7f7;
  height: 404px;
  background-image: url('https://images.deliveryhero.io/image/foodpanda/home-vendor-tr.jpg?width=2000&height=1280');
  background-size: auto; 
  background-position: center;
  position: relative;
  overflow: hidden;
  display: grid;
  margin: auto;
}

.partner-h1{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.3125;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 32px;
  grid-column: 1/7;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  padding: 0 64px;
  max-width: 1440px;
  margin-left: 11%;
  height: 100%;
  
}

.partner-content{
  

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  padding: 0 64px;
  max-width: 1440px;
  margin: auto;
  height: 100%;
  margin-left: 11%;
  
}

.partner-content-h1{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.3333;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 24px;
  color: black;
}

.partner-label{
  padding: 12px 0;
  white-space: break-spaces;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

.overlay-content{
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.16);
  padding: 24px;
  grid-column: 1 / 7;
  transform: translateY(-50%);
  width: 80%;
}





.startButton{
  background-color: #FA0050; 
  border: 1px solid #FA0050; 
  border-radius: 8px; 
  padding: 7px 13px;
  font-size: 15px;
  height: 45px;
  width: 105px;
  font-weight: bold;
  color: #FFFFFF; 
  cursor: pointer;
  position: relative;
  transition:  0.1s ease;
}

.startButton:hover::before {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.startButton:hover {
  background-color: #d80347;
   
}



