body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-root-container{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  gap: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.16);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  position: sticky;
  z-index: 1;
}

.navbarContainer{
  width: 100%;
  grid-column: 2/11;
  height: 64px;
  padding: 0 64px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbarContainer .logo{
  margin-right: auto;
  margin-left:3.5%;
  margin-top:5px ;
}
.navbarContainer .logo img{
  margin-right: 50%;
  width: 123px;
  height: 23px;

}

.navbarContainer .buttonGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px; 
}

.loginButton {
  background-color: white;
  border: 1px solid #333333;
  border-radius: 8px;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: bold;
  color: #5B5B5B;
  cursor: pointer;
  position: relative;
  transition:  0.1s ease; 
}


.loginButton:hover::before {
  width: 120%;
  height: 120%;
  background-color: transparent;
}

.loginButton:hover {
  border: 1px solid #333333;
  padding: 10px 16px; 
}


.signupButton {
  background-color: #FA0050; 
  border: 1px solid #FA0050; 
  border-radius: 8px; 
  padding: 7px 13px;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF; 
  cursor: pointer;
  position: relative;
  transition:  0.1s ease;
}

.signupButton:hover::before {
  width: 120%;
  height: 120%;
  background-color: transparent;
}

.signupButton:hover {
  
  padding: 10px 16px; 
}

.buttonGroup .selector{
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.languageSelected{
  font-size: 0.875rem;
  font-weight: 600;
  color: #1A1A1A;
  margin: 0 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbarRightIcons{
  margin-top: 4px;
  flex: 0;
  margin-left: 16px;
}

.card-right-icon{
  min-width: 44px;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
}

.card-right-icons{
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.navbar-bcg{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

.navbar-bcgc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-bcg:hover {
  background-color: #f5f5f5; 
}

.right-bcg{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.right-bcgc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-bcg:hover {
  background-color: #f5f5f5; 
}

.main-container{
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: #f7f7f7;
  height: 608px;
  background-image: url('https://images.deliveryhero.io/image/foodpanda/homepage/refresh-hero-home-tr.png?width=1264'); /* Görselin yolu */
  background-size: contain; /* Görseli içinde tut */
  background-position: right center; /* Görseli sağa hizala */
  background-repeat: no-repeat; /* Tekrar etmeyi kapat */
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  padding: 0px 64px;
  margin: auto;
}

.main-content-container{
  grid-column: 1/7;
  align-self: stretch;
  
}

.content-h1{
  color: #333333;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 24%;
}

.address-container{
  margin-top: 32px;
}

.location-form{
  display: flex;
  border-radius: 16px;
  margin-left: 24%;
  height: 70px;
  align-items: center;
  background-color: white;
  
  
  
}

.search-container{
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: white;
  box-shadow: 0 .188rem 1.25rem rgba(0, 0, 0, .1);
  flex-wrap: nowrap;
  width: 80%;
  border-radius: 8px;
  margin-left: 14px;
  border: 1px solid #DCDCDC;
}

.input-box{
  appearance: none;
  background-color: white;
  border: 0;
  border-radius: 8px;
  color: #333333;
  display: block;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1em;
  padding: 12px 15px;
  position: relative;
  resize: none;
  transition: all .15s;
  width: 60%;
  z-index: 1;
} 


